/* LoginPage.css */

/* Center the login container */
.login-container {
    width: 350px;
    margin: 100px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    text-align: center;
}

/* Input field styling */
.login-input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}



/* Error message styling */
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}